body {
    margin: 0;
    border: 5px solid black;
    height: 100vh;
    position: relative;
  }
  
  .one {
    width: 400px;
    height: 400px;
    background-color: red;
  }
  
  .two {
    width: 300px;
    height: 300px;
    background-color: yellow;
    bottom: 62%;
    left: 7%;
  }
  
  .three {
    width: 200px;
    height: 200px;
    background-color: green;
    bottom: 68%;
    left: 15%;
  }
  
  .four {
    width: 100px;
    height: 100px;
    background-color: blue;
    bottom: 73%;
    left: 23%;
  }
  .two,
  .three,
  .four {
    position: relative;
    top: 50px;
    left: 50px;
  }